Repository fastapi/fastapi-cli, pull requests merged in 2024-05, with the labels that each got.

#8 👷 Tweak CI testing and fix import error detection for Python 3.8
  .github/workflows/test.yml
  src/fastapi_cli/discover.py
  tests/conftest.py
  tests/test_utils_default_dir.py
  tests/test_utils_default_file.py
  tests/test_utils_package.py
  tests/test_utils_single_file.py
Labels: bug

#9 📝 Add note about Uvicorn as the high-performance server running underneath
  README.md
Labels: docs

#16 ➖ Relax Uvicorn pin
  pyproject.toml
Labels: upgrade

#25 🔧 Make FastAPI and Uvicorn optional dependencies, to avoid circular dependencies
  pyproject.toml
  src/fastapi_cli/cli.py
  src/fastapi_cli/discover.py
  tests/test_requirements.py
Labels: bug

#26 👷 Update Upload/Download artifacts GitHub Actions
  .github/workflows/smokeshow.yml
  .github/workflows/test.yml
Labels: internal

#27 👷 Enable CI tests for Python 3.12
  .github/workflows/test.yml
Labels: internal

#22 ♻️ Simplify code in `src/fastapi_cli/discover.py`
  src/fastapi_cli/discover.py
Labels: refactor
