Repository fastapi/fastapi-cli, pull requests merged in 2024-08, with the labels that each got.

#54 👷 Update issue-manager.yml GitHub Action permissions
  .github/workflows/issue-manager.yml
Labels: internal

#56 🚚 Rename repo references to new GitHub FastAPI org
  .github/ISSUE_TEMPLATE/config.yml
  .github/workflows/issue-manager.yml
  CITATION.cff
  README.md
  pyproject.toml
Labels: docs

#55 ♻️ Add `fastapi-cli[standard]` including Uvicorn, make `fastapi-cli` and `fastapi-cli-slim` have the same packages
  README.md
  pdm_build.py
  pyproject.toml
Labels: breaking

#48 🔧 Remove Python 3.7 from PyPI classifiers
  pyproject.toml
Labels: internal

#57 ➕ Keep Uvicorn in default dependencies
  pyproject.toml
Labels: upgrade

#65 👷 Add GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#66 🔧 Update GitHub Action add-to-project
  .github/workflows/add-to-project.yml
Labels: internal

#67 👷 Add GitHub Action labeler
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#68 👷 Add GitHub Action label-checker
  .github/workflows/labeler.yml
Labels: internal

#69 👷 Update GitHub Action labeler permissions and dependencies
  .github/workflows/labeler.yml
Labels: internal

#70 👷 Update GitHub Action labeler to only add one label
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: internal

#71 👷 Do not sync labels as it overrides manually added labels
  .github/workflows/labeler.yml
Labels: internal

#72 🔧 Add URLs to `pyproject.toml`, show up in PyPI
  pyproject.toml
Labels: internal

#74 🔧 Update coverage configs
  .github/workflows/test.yml
  pyproject.toml
  scripts/test-cov-html.sh
Labels: internal

#79 👷 Update `latest-changes` GitHub Action
  .github/workflows/latest-changes.yml
Labels: internal
