Repository fastapi/fastapi-cli, pull requests merged in 2024-12, with the labels that each got.

#131 🐛 Use correct syntax for links
  src/fastapi_cli/cli.py
Labels: bug

#121 🔨 Use ruff check command in format script
  scripts/format.sh
Labels: internal

#95 ✨ Improve UI for `fastapi dev` and `fastapi run`
  README.md
  pyproject.toml
  src/fastapi_cli/cli.py
  src/fastapi_cli/discover.py
  src/fastapi_cli/logging.py
  src/fastapi_cli/utils/__init__.py
  src/fastapi_cli/utils/cli.py
  tests/assets/nested_package/__init__.py
  tests/assets/nested_package/package/__init__.py
  tests/assets/nested_package/package/core/__init__.py
  tests/assets/nested_package/package/core/utils.py
  tests/assets/nested_package/package/mod/__init__.py
  tests/assets/nested_package/package/mod/api.py
  tests/assets/nested_package/package/mod/app.py
  tests/assets/nested_package/package/mod/other.py
  tests/test_cli.py
  tests/test_requirements.py
  tests/test_utils_cli.py
  tests/test_utils_default_dir.py
  tests/test_utils_default_file.py
  tests/test_utils_package.py
  tests/test_utils_single_file.py
Labels: feature

#132 🐛 Do not disable existing loggers
  src/fastapi_cli/utils/cli.py
  tests/test_utils_cli.py
Labels: bug

#137 🚨 Format new test
  tests/test_utils_cli.py
Labels: internal
